@import "../../../../../themes/responsive.theme.scss";

.container {
  padding: 8px 0;
  @include screen("md") {
    padding: 32px;
  }
}

.mat-card {
  box-sizing: border-box;
  margin: 16px 8px;
  position: relative;
  @include screen("sm") {
    margin: 16px 32px;
  }
}

.mat-card > :first-child {
  margin: 1rem 0 0.5rem !important;
}

.mat-card-header {
  margin: 1rem 0 1.5rem;
  & .mat-card-title {
    margin-bottom: 16px;
    @include screen("md") {
      font-size: 1.5rem;
    }
    @include screen("lg") {
      font-size: 2rem;
    }
  }
}
