@import "../../../../../../themes/responsive.theme.scss";

.container {
  padding: 8px 0;
  @include screen("md") {
    padding: 32px;
  }
}

.mat-card {
  box-sizing: border-box;
  margin: 16px 8px;
  text-align: center;
  @include screen("sm") {
    margin: 16px 32px;
  }
}

.home-logo {
  height: auto;
  width: 100%;
  max-width: 300px;
}

.home-text {
  font-size: 1.5rem;
  @include screen("sm") {
    font-size: 2rem;
  }
}
