$idiada-dark-primary: (
  50: #f3f3f3,
  100: #e2e2e2,
  200: #cfcfcf,
  300: #bbbbbb,
  400: #adadad,
  500: #9e9e9e,
  600: #969696,
  700: #8c8c8c,
  800: #828282,
  900: #707070,
  A100: #fef3f3,
  A200: #f9c5c5,
  A400: #ff8b8b,
  A700: #ff7272,
  contrast: (
    50: #303030,
    100: #303030,
    200: #303030,
    300: #303030,
    400: #303030,
    500: #303030,
    600: #303030,
    700: #303030,
    800: #303030,
    900: #ffffff,
    A100: #303030,
    A200: #303030,
    A400: #303030,
    A700: #303030,
  ),
);

$idiada-dark-secondary: (
  50: #e5f3f1,
  100: #bde2dd,
  200: #92cfc6,
  300: #66bcaf,
  400: #45ad9e,
  500: #249f8d,
  600: #209785,
  700: #1b8d7a,
  800: #168370,
  900: #0d725d,
  A100: #a5ffea,
  A200: #72ffde,
  A400: #3fffd2,
  A700: #25ffcc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$idiada-dark-app-primary: mat.define-palette($idiada-dark-primary, 500);
$idiada-dark-app-accent: mat.define-palette($idiada-dark-secondary, 900);

// The warn palette is optional (defaults to red).
$idiada-dark-app-warn: mat.define-palette(mat.$deep-orange-palette);
