@use "~@angular/material" as mat;
@include mat.core();
@import "light-palette.theme";
@import "light-custom-styles.theme";
@import "dark-palette.theme";
@import "dark-custom-styles.theme";

mat.$theme-ignore-duplication-warnings: true;

// Define custom themes
$idiada-light-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $idiada-light-app-primary,
      accent: $idiada-light-app-accent,
      warn: $idiada-light-app-warn,
    ),
  )
);

$idiada-dark-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $idiada-dark-app-primary,
      accent: $idiada-dark-app-accent,
      warn: $idiada-dark-app-warn,
    ),
  )
);

// Apply custom themes

//Light theme for default
@include mat.all-component-themes($idiada-light-app-theme);
@include custom-light-theme($idiada-light-app-theme);

//If device is pc
@media (hover: hover), (pointer: not(coarse)) {
  .dark-mode {
    @include mat.all-component-colors($idiada-dark-app-theme);
    @include custom-dark-theme($idiada-dark-app-theme);
  }
}

//If device has touchscreen
@media (prefers-color-scheme: dark) and (hover: none),
  (prefers-color-scheme: dark) and (pointer: coarse) {
  @include mat.all-component-colors($idiada-dark-app-theme);
  @include custom-dark-theme($idiada-dark-app-theme);
}
