<p-dialog header="CREATE VEHICLE" [contentStyle]="{'overflow':'visible'}" [(visible)]="displayVehicleDialog"
  [modal]="true" showEffect="fade">

  <form [formGroup]="vehicleForm" id="vehicleForm">
    <div>
      <label for="plate">Plate:</label>
      <input id="plate" pInputText type="text" formControlName="plate" />
      <label for="manufacturer">Manufacturer:</label>
      <input id="manufacturer" pInputText type="text" formControlName="manufacturer" />
      <label for="make">Make:</label>
      <input id="make" pInputText type="text" formControlName="make" />
      <label for="commercialName">Commercial Name:</label>
      <input id="commercialName" pInputText type="text" formControlName="commercialName" />
      <label for="vinNumber">Vin Number:</label>
      <input id="vinNumber" pInputText type="text" formControlName="vinNumber" />
      <label for="capacity">Capacity:</label>
      <input id="capacity" pInputText type="number" formControlName="capacity" />
    </div>
  </form>

  <p-footer>
    <button type="submit" pButton icon="pi pi-check" [disabled]="!vehicleForm.valid" label="SAVE"></button>
    <button type="button" pButton icon="pi pi-times" (click)="displayVehicleDialog = false" label="CANCEL"></button>
  </p-footer>
</p-dialog>