<div mat-dialog-content>
  <p>{{data.question}}</p>
  <ul>
    <li>{{data.element}}</li>
  </ul>
</div>
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button
    [ngClass]="{'mat-stroked-button':themeService.isLightMode(),'mat-raised-button':themeService.isDarkMode()}"
    color="accent" type="button" [mat-dialog-close]="false">Cancel·lar</button>
  <!-- <button mat-button color="accent" type="button" [mat-dialog-close]="false">Cancel·lar</button> -->
  <button mat-raised-button color="accent" type="submit" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>